[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#aiohttp = "*"
autoflake = "*"
base58 = "*"
beautifulsoup4 = "*"
dacite = "*"
dataclasses-json = "*"
pre-commit = "*"
pymongo = "*"
pydantic = "*"
python-telegram-bot = "*"
PySocks = "*"
requests = "*"
#async-timeout = "*"
decorator = "*"
more-itertools = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
